.tab-user-card {
  .nav-pills {
    background: #ecf0f5;
    padding: 20px;
    border-radius: 5px;
  }
}

.dataTables_wrapper .dataTables_paginate .paginate_button.active {
  background: $primary-color;
  border-color: $primary-color;
}

.custom-icon-config {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 8px 12px;
}

.type-2 {
  background-color: #fafafa;
  border:0;
  box-shadow:0 0 4px rgba(0,0,0,0.3);
  transition: .3s box-shadow;
}
.type-2:hover {
  box-shadow:0 0 4px rgba(0,0,0,0.5);
}

.cell-3-undefined {
  cursor: pointer;
}

.cell-3-undefined:hover {
  border: 2px solid #3fc380e6;
  box-shadow: #3fc380e6;
  box-shadow: 0px 0px 3px #3fc380e6;
  border-radius: 5px;
}

.cell-3-undefined-selected {
  background-color: #3fc380e6;
  color: #fff;
}